@media (min-width:992px){
	/* navigation */
	header.navbar {
		position: relative;
		overflow:hidden;
		width:950px;
		margin:75px auto 0 auto;		
	}

	header > nav.navbar {
		z-index:1030;
		float:right;
		position:relative;
	}
	
	header > nav.navbar .container {
		/*width: auto;*/
		width:580px;
	}
	
	header > nav.navbar .container > ul.nav {
		/*uncomment below if .container width=auto*/
		/*display:inline-block;*/
		/*float:none !important;*/
	}
	
	header > nav.dropdown-mega {
		display:none;
	}
	
	header > nav.navbar-fixed-bottom, 
	header > nav.navbar-fixed-top {
		-o-transition-property: none!important;
		-moz-transition-property: none!important;
		-ms-transition-property: none!important;
		-webkit-transition-property: none!important;
		transition-property: none!important;
		
		-o-transform: none!important;
		-moz-transform: none!important;
		-ms-transform: none!important;
		-webkit-transform: none!important;
		transform: none!important;
		
		-webkit-animation: none!important;
		-moz-animation: none!important;
		-o-animation: none!important;
		-ms-animation: none!important;
		animation: none!important;
	}
	
	/* branding */
	branding .jumbotron {
		margin-top:-135px;
		text-align:left;
		display:block;
	} 
	
	.jumbotron .container h2.thumbnail img {
		max-width: 350px;
	}
	
	/* Hide caret on active menu item */
	.navbar .container .navbar-nav li.active .fa-caret-down, 
	.navbar .container-view .navbar-nav li.active .fa-caret-down {
		display:none;
	}
	
}
@media (min-width:1200px){
	header.navbar {
		width:1150px;
	}
}