.container-view section > nav.nav > ul > li:first-child { 
	display:none; 
}
.container-view section > nav.nav + div.row > aside { 
	display:none !important; 
}
.container-view section > nav.nav + div.row > div { 
	width:100%; 
}
.panel-product-list > .alert { 
	display:none; 
}