@media (min-width:992px){
	/*container*/
	.nav-branding-container {
		width:950px;
		margin:0 auto;
		display:flex;
		flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		align-items:center;
	}


	/* navigation */
	.nav-branding-container > section:first-of-type {
		width:55%;
	}
	.nav-branding-container navigation .navbar-fixed-top {
		position:relative;
	}
	.nav-branding-container navigation .navbar .container {
		width:100%;
	}
	/* Hide caret on active menu item */
	.navbar .container .navbar-nav li.active .fa-caret-down, 
	.navbar .container-view .navbar-nav li.active .fa-caret-down {
		display:none;
	}


	/* branding */
	.nav-branding-container > section:nth-of-type(2) {
		width:45%;
	}
	.nav-branding-container branding .jumbotron {
		margin-left:0;
		margin-right:5%;
		padding: 0 0;
		display: block;
	}
	.nav-branding-container branding .jumbotron .thumbnail {
		text-align:left;
	}
	
}
@media (min-width:1200px){
	.nav-branding-container {
		width:1150px;
	}
}